<div class="footer">
  <!-- footer__top  -->
  <div class="footer__top">
    <button
      (click)="topFunction()"
      class="footer__topButton"
      mat-stroked-button
    >
      Back to top
    </button>
  </div>
  <!-- /footer__top  -->

  <!-- footer__mid -->
  <div class="footer__mid">
    <div class="footer__midInfo">
      <!-- midInfo__col1 -->
      <div class="footer__midInfo__col">
        <h4>Get to Know Us</h4>
        <ul>
          <li>Careers</li>
          <li>Blog</li>
          <li>About Amazon</li>
          <li>Sustainability</li>
          <li>Investor Relations</li>
          <li>Amazon Devices</li>
          <li>Amazon Tours</li>
        </ul>
      </div>
      <!-- /midInfo__col1 -->

      <!-- midInfo__col2 -->
      <div class="footer__midInfo__col">
        <h4>Make Money with Us</h4>
        <ul>
          <li>Sell products on Amazon</li>
          <li>Sell apps on Amazon</li>
          <li>Become an Affiliate</li>
          <li>Advertise Your Products</li>
          <li>Self-Publish with Us</li>
          <li>Host an Amazon Hub</li>
        </ul>
      </div>
      <!-- /midInfo__col2 -->

      <!-- midInfo__col3 -->
      <div class="footer__midInfo__col">
        <h4>Amazon Payment Products</h4>
        <ul>
          <li>Amazon Business Card</li>
          <li>Shop with Points</li>
          <li>Reload Your Balance</li>
          <li>Amazon Currency Converter</li>
        </ul>
      </div>
      <!-- /midInfo__col3 -->

      <!-- midInfo__col4 -->
      <div class="footer__midInfo__col">
        <h4>Let Us Help You</h4>
        <ul>
          <li>Amazon and COVID-19</li>
          <li>Your Account</li>
          <li>Your Orders</li>
          <li>Shipping Rates & Policies</li>
          <li>Returns & Replacements</li>
          <li>Manage Your Content and Devices</li>
          <li>Amazon Assistant</li>
          <li>Help</li>
        </ul>
      </div>
      <!-- /midInfo__col4 -->
    </div>

    <div class="footer__midOptions">
      <img
        (click)="homeRouter()"
        class="footer__midOptions__logo"
        src="https://images-na.ssl-images-amazon.com/images/G/01/magicarp/image/amazon-logo-white.svg"
        alt="Amazon logo"
      />

      <button mat-stroked-button>
        <span class="material-icons"> language </span>
        English
      </button>

      <button mat-stroked-button>$USD - U.S. Dollar</button>

      <button mat-stroked-button>
        <img
          class="footer__midOptions__usFlag"
          src="https://cdn.jsdelivr.net/gh/hfg-gmuend/openmoji/color/svg/1F1FA-1F1F8.svg"
          alt=""
        />
        United States
      </button>
    </div>
  </div>
  <!-- /footer__mid -->

  <!-- footer__bottom -->
  <div class="footer__bottom">
    <p>
      Conditions of Use | No rights reserved - this is a demo! | Interest-Based
      Ads
    </p>
    <p>© 2020, AmazonCLONE.com, <strong>Leonarco Correa</strong></p>
  </div>
  <!-- /footer__bottom -->
</div>
