.subTotal {
  // background-color: palevioletred;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 20px;

  &__info {
    // background-color: yellow;
    display: flex;
    flex-direction: column;

    &FreeShipping {
      // background-color: lightgray;
      display: flex;
      align-items: stretch !important;
      margin-bottom: 10px;
      &__icon {
        // background-color: rebeccapurple;
        display: flex;
        #checkIcon {
          // border: crimson solid 1px;
          align-self: center;
          color: #067d62;
          font-size: 30px;
        }
      }

      &__text {
        // background-color: rgb(208, 173, 255);
        display: flex;
        align-items: center;
        margin-left: 5px;
        span {
          // border: crimson solid 1px;
          color: #067d62;
          text-align: left;
          font-size: 15px;
          line-height: 18px;

          strong:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    #sc-subtotal {
      font-size: 24px !important;
      line-height: 32px !important;
      white-space: nowrap;
    }
    #sc-subtotal-amount {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
    }
    &Checkbox {
      // background-color: rebeccapurple;
      margin-top: 5px;
      font-size: 14px;
      line-height: 20px;
      position: relative;
      &Text {
        position: relative;
        font-weight: 400;
        padding-bottom: 0;
        bottom: -2px;
      }
    }
  }
}

#checkoutButton {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  margin-top: 15px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  width: 90%;
  align-self: center;

  font-size: 17px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  white-space: nowrap;
}

// Change checkbox color
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #222d32 !important;
}
