<div class="checkout animate__animated animate__fadeIn">
  <div *ngIf="cart$ | async as cart" class="checkout__top">
    <div class="checkout__top__left">
      <!-- src="https://images-na.ssl-images-amazon.com/images/G/02/UK_CCMP/TM/OCC_Amazon1._CB423492668_.jpg" -->
      <img
        class="checkout__top__leftAdd"
        src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/LPAIndia/Header/170_AP_1500x300.jpg"
        alt=""
      />
      <div class="checkout__top__leftTitle">
        <h1>Shopping Cart</h1>
        <span>Price</span>
      </div>

      <div *ngFor="let item of cart.items" class="checkout__top__leftItems">
        <app-checkout-item-card [product]="item"></app-checkout-item-card>
      </div>
      <div class="checkout__top__leftSubtotal">
        <p>
          Subtotal ({{ cart.totalItemsCount }} item<span
            *ngIf="cart.totalItemsCount > 1"
            >s</span
          >):&nbsp;
        </p>
        <p>
          <strong> {{ cart.totalPrice | currency: "USD" }}</strong>
        </p>
      </div>
    </div>

    <div class="checkout__top__right">
      <app-subtotal
        [numberOfitems]="cart.totalItemsCount"
        [totalToPay]="cart.totalPrice"
      ></app-subtotal>
    </div>
  </div>

  <!-- <div class="checkout__bottom">
    <img src="../../../assets/pictures/checkout-productsImages.png" alt="" />
  </div> -->
</div>
