.checkout {
  //   background-color: white;
  //   display: flex;
  //   padding: 20px;
  margin-bottom: 25px;

  &__top {
    display: flex;
    padding: 20px;
    height: max-content;
    &__left {
      background-color: white;
      flex: 0.7;
      margin-right: 18px;
      &Add {
        width: 100%;
        margin-bottom: 10px;
      }
      &Title {
        position: relative;
        margin-right: 1%;
        h1 {
          margin-left: 15px;
          padding: 10px;
          font-weight: 400;
          font-size: 28px;
          line-height: 36px;
          border-bottom: 1px solid lightgray;
        }
        span {
          position: absolute;
          // margin-right: 1%;
          bottom: 5px;
          right: 0.5%;
          font-size: 20px;
          line-height: 22px;
          color: #565959 !important;
        }
      }

      &Subtotal {
        display: flex;
        justify-content: flex-end;
        margin-right: 1%;
        font-size: 24px !important;
        line-height: 32px !important;
        white-space: nowrap;
      }
    }

    &__right {
      background-color: white;
      flex: 0.3;
      height: 220px;
    }
  }

  &__bottom {
    margin: 0 !important;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
